body
{
    background-color: grey;
}

img{
    width: 350px;
}

.div1
{
    background-color: red;
}

.div2
{
    background-color: aquamarine;
    height: 50px;
    width: 50px;
    display: inline-block;

}

p
{
    background-color: purple;
    display: inline-block;
}

ul
{
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content:space-between;
}

.vinyle
{
    animation:  turn 3.5s infinite linear;
    
}

.jokair
{
    border-radius: 50%;
    width:111px;
    height:111px;
    object-fit: cover;
    position: absolute;
    top: 280px;
    left: 127px;
    animation: turn 3.5s infinite linear;
    transform: translate(-50%, -50%);

    

}
.disque
{
    background-color: blue;
    display: inline-block;
}


@keyframes turn {
    0% 
    {
        transform:rotate(0deg);
    }
    50%
    {
        transform:rotate(180deg);
    }
    100%
    {
        transform:rotate(360deg);
    }
}




